*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Square Peg', cursive;
    font-size: 1.2rem;
    font-weight: 600;
}
body{
    background-color: antiquewhite;
    
}


/* HEADER */
header{
    text-align: center;
    padding: 20px 0;
    background-color: lightblue;
    color: darkgreen;
    border-bottom: 4px solid rgb(4, 140, 4);
}
header > h1{
    font-size:1.8em;
    font-weight: 900;
}
/* select */
#categorie{
    position: fixed;
    top: 60px;
    left: 20px;
}
.categorie-label{
    position: fixed;
    top: 20px;
    left: 20px;
}
/* display totale */
#totalBox{
    position: fixed;
    top: 15px;
    right: 15px;
}
#totalBox span{
    font-size: 1.5em;
}
#totalBox span:last-of-type{
    color: rgb(251, 72, 72);
}


/* MAIN */
main{
    position: relative;
}
ul{
    margin-top: 40px;
    list-style: none;
    margin-left: 100px;
    
}
ul > li{
    margin-top: 10px;
}
.testo-li{
    text-transform: capitalize;
    cursor: pointer;
}
.sbarrato{
    text-decoration:line-through;
}

/* icone */
i{
    vertical-align: middle;
}
.fa-circle-check{
    color: darkgreen;
    margin-left: 15px;
}
.fa-circle-xmark{
    color: rgb(251, 72, 72);
    margin-left: 15px;
}
.fa-circle-minus{
    color: #666;
    margin-left: -40px;
    margin-right: 20px;
    cursor: pointer;
}

/* form */
#new-item{
    margin-left: 20px;
    margin-top: 40px;
}
input{
    background-color: darkseagreen;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid darkgreen;
}
input::placeholder{
    color: #EEE;
}
.check{
    margin-top: 20px;
}
#addBtn{
    display: block;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkgreen;
    color: #DDD;
    transition: 0.3s;
}
#addBtn:hover{
    color: white;
    background-color: green;
}

/* bottone svuota lista */
.svuota-Btn{
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(251, 72, 72);
    border:2px solid black;
    transition: 0.25s;
    color: #555;
}
.svuota-Btn > i{
    vertical-align: baseline;
    font-size: 0.8em;
    margin-right: 10px;
}
.svuota-Btn:hover{
    color: black;
    background-color: rgb(249, 30, 30);
}